

# Visual Studio
Debug/
build/
.vs/Spectre/v16/
enc_temp_folder/
*/Spectre.vcxproj.user

#don't include third party files, but leave the dirs:
Spectre/third_party/wren/lib/*
Spectre/third_party/wren/lib/!readme.txt
Spectre/third_party/wren/src/include/*
Spectre/third_party/wren/src/include/!readme.txt

*.dblite
*.o

# CLion IDE
.idea/

# Linux
cmake-build-debug/
