# Visual Studio
Debug/
Build/
.vs/
.vscode/

# IntelliJ Idea IDEs
.idea/

# Log Files
source/logs/

# CMake
CMakeLists.txt.user
CMakeCache.txt
**/CMakeFiles
**/Makefile
**/cmake_install.cmake
**/*.a
cmake-build-debug/
enc_temp_folder/
out/
**/CMakeScripts
output/
